html {
    
}

body {
    width:90%;
    background-color: rgba(100,230,100,0.6);
    background-size : cover;
}

* {
    margin:0;
}

header {
    
}

footer {
    
}



/* menu list */

nav {
    margin : 50px auto;
    width  : 100%;
}

menu {
    border-radius : 3px;
}

menu:after , menu:before {
    display : block;
    content : ' ';
}

menu:after {
    clear : both;
}

li {
    list-style-type : none;
    background      : linear-gradient(rgba(220,220,255,0.4) 85%, rgba(255,255,255,0.5) 100%);
    
    float   : left;
    cursor  : pointer;
    padding : 3px 10px;
    border-top    : 2px solid rgba(200,200,255,0.5);
    border-bottom : 2px solid rgba(50,50,50,0.4);
}

li:first-child {
    border-radius : 5px 0 0 5px;
}

li:last-child {
    border-radius : 0 5px 5px 0;
}

a.mainMenu {
    display : block;
    padding : 10px 13px;
    font-size : 26px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : #FFF;
    transition : all .4s;
}

li.mainMenuList:hover a.mainMenu {
    top   : -20px;
    color : #4eacff;
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

li.mainMenu a:after {
    display  : block;
    content  : '';
    position : absolute;
    top  : 100%;
    left : 42%;
    border-style : solid;
    border-color : transparent;
    border-width : 5px 5px 0 5px;
    transition   : all .4s;
}

li.mainMenuList:hover a.mainMenuList:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

/*************************************/

.mainMenu {
    width : 100%;
}

a.mainMenu {
    font-family : georgia;
    font-size   : 14px;
    font-style  : italic;
    text-transform : capitalize;
}

li.mainMenu {
    border-right  : 1px solid rgba(200,200,255,0.5);
    border-left   : 1px solid rgba(40,40,40,0.2);
}

.selected.mainMenu {
    top   : -20px;
    color : rgba(200,0,0,0.5);
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

.selected.mainMenu:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}
