html {
    
}

body {
    width:96%;
    background-color: rgba(230,230,230,1.0);
    background-size : cover;
    background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}

* {
    margin:0 auto;
    padding:0;
}

header {
    
}

footer {
    background-color: rgba(100,255,255,0.5);
    background: linear-gradient(-50deg, #d558c8 50%, #24d292 100%);
    padding-left: 20px;
    padding-top:60px;
}

/* menu list */

nav {
    margin : 50px auto;
    width  : 100%;
}

menu {
    border-radius : 3px;
}

menu:after , menu:before {
    display : block;
    content : ' ';
}

menu:after {
    clear : both;
}

li {
    list-style-type : none;
    background      : linear-gradient(rgba(220,220,255,0.4) 85%, rgba(255,255,255,0.5) 100%);
    
    float   : left;
    cursor  : pointer;
    padding : 3px 10px;
    border-top    : 2px solid rgba(200,200,255,0.5);
    border-bottom : 2px solid rgba(50,50,50,0.4);
}

li:first-child {
    border-radius : 5px 0 0 5px;
}

li:last-child {
    border-radius : 0 5px 5px 0;
}

a.mainMenu {
    display : block;
    padding : 10px 13px;
    font-size : 26px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : #FFF;
    transition : all .4s;
}

li.mainMenuList:hover a.mainMenu {
    top   : -20px;
    color : #4eacff;
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

li.mainMenu a:after {
    display  : block;
    content  : '';
    position : absolute;
    top  : 100%;
    left : 42%;
    border-style : solid;
    border-color : transparent;
    border-width : 5px 5px 0 5px;
    transition   : all .4s;
}

li.mainMenuList:hover a.mainMenuList:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

/*************************************/

.mainMenu {
    width : 100%;
}

a.mainMenu {
    font-family : georgia;
    font-size   : 14px;
    font-style  : italic;
    text-transform : capitalize;
}

li.mainMenu {
    border-right  : 1px solid rgba(200,200,255,0.5);
    border-left   : 1px solid rgba(40,40,40,0.2);
}

.selected.mainMenu {
    top   : -20px;
    color : rgba(200,0,0,0.5);
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

.selected.mainMenu:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

/* menu */
#menu {
    padding: 20px;
}

/* page */
#page {
    margin-top: 10px;
    margin-bottom: 10px; 
}

/* button */
a.button {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
    text-align:center;

    border-radius:5px;
}
a.button:visited {
    color: rgba(248, 142, 213, 0.973);
}
a.button:hover {
    background-color: rgba(100,255,255,0.5);

    text-decoration: underline;
}
a.button:active {
    background-color: rgba(100,255,255,0.5);

    text-decoration:none;
}
a.button.active {
    background-color: rgba(100,255,255,0.5);

    text-decoration:none;
}

/* subbutton */
a.subbutton {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
    font-size:14px;
    font-weight:bolder;
    text-decoration:none;
    text-align:center;
    border-radius:5px;
}
a.subbutton:visited {
    color: rgba(248, 240, 100, 0.973);
}
a.subbutton:hover {
    background-color: rgba(100,255,255,0.5);
    color: rgba(248, 142, 213, 0.973);
    text-decoration: none;
}
a.subbutton:active {
    background-color: rgba(100,255,255,0.5);
    text-decoration:none;
}
a.subbutton.active {
    background-color: rgba(100,255,255,0.5);
    text-decoration:none;
}

/* smallbutton */
a.smallbutton {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size:10px;
    font-weight:bolder;
    text-decoration:none;
    text-align:center;
    border-radius:5px;
}
a.smallbutton:visited {
    color: rgba(248, 240, 100, 0.973);
}
a.smallbutton:hover {
    background-color: rgba(100,255,255,0.5);
    color: rgba(248, 142, 213, 0.973);
    text-decoration: none;
}
a.smallbutton:active {
    background-color: rgba(100,255,255,0.5);
    text-decoration:none;
}
a.smallbutton.active {
    background-color: rgba(100,255,255,0.5);
    text-decoration:none;
}

h1 {
    background-color: rgba(100,255,255,0.5);
    background: linear-gradient(-50deg, #d558c8 50%, #24d292 100%);
    padding-left: 20px;
    padding-top:20px;
}
h1:hover {
    opacity: 0.8;
    background: linear-gradient(50deg,  #24d292 50%, #d558c8 100%);
}

h2 {
    padding-top: 10px;
    padding-left: 20px;
}

h2 {
    position: relative;
    z-index: 2;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    line-height: 50px;
  }
h2:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
}

h2::before,
h2::after {
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #333;
}
h2::before {
  right: 0;
}
h2::after {
  left: 0;
}
h2:hover::before,
h2:hover::after {
  width: 0;
  background-color: #59b1eb;
}

h3 {
    padding-top: 30px;
    padding-left: 20px;
}

h3 {
    position: relative;
    z-index: 2;
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    line-height: 50px;
  }
h3:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
}
h3::before,
h3::after {
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
}
h3::before {
    top: 0;
}
h3::after {
    bottom: 0;
}
h3:hover::before,
h3:hover::after {
    height: 0;
    background-color: #59b1eb;
}